body {
    font-family: 'Playfair Display';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    color: #626262;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
a {
    text-decoration: none;
    color: #7D7D7D;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

/* section header */

header {
    width: 100%;
}

/* Mobile 480+ */

@media screen and (min-width: 480) {
    .container {
        width: 480px;
        margin: 0 auto;
    }
}

/* .container {
    width: 1200px;
    margin: 0 auto;
} */

/* tablet 768 */
@media screen and (min-width: 768) {
    .container {
        width: 768px;
        margin: 0 auto;
    }
}

/* desktop 1200+ */

@media screen and (min-width: 1200) {
    .container {
        width: 1200px;
    }
}

.container {
    padding-left: 20px;
    padding-right: 20px;
}

@media  screen and (max-width: 767px) {
    .nav {
        display: none;
    }

    .menu-button {
        background-color: transparent;
        border: none;
        padding: 16px;
    }

    .menu-button-close {
        position: absolute;
        top: 15px;
        left: 15px;
        background-color: transparent;
        border: none;
    }

    
    .mobile-menu {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        overflow: auto;
        background-color: #e5e5e5;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transform: translateX(100%);
    }

    .mobile-menu.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translateX(0);
        transition: opacity 250ms ease-in, transform 250ms ease-in;
    }
}

.nav {
    padding: 70px 315px;
}

.nav-list {
    width: 100%;
    justify-content: space-between;
    display: flex;
}

.nav-list-item {
    display: inline-flex;
}

.nav-list-link:hover, .nav-list-link:focus {
    color: #03A9F4;
}

/* section main */
main {
    padding: 0 148px;
    display: flex;
    flex-wrap: wrap;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    gap: 65px;
}

.main-content-item {
    width: 420px;
    margin-bottom: 32px;
}

.main-content-item-img {
    margin-bottom: 32px;
}

.category {
    margin-bottom: 32px;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #B4AD9E;
}

.main-content-item-h2 {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
}

/* section button */
.load-more {
    margin: 10px auto;
    width: 165px;
    height: 60px;
    border: 1px solid #626262;
    background-color: transparent;
    line-height: 19px;
    color: #626262;
}

